# **Pandas**
    데이터 과학자를 위해 테이블형태로 데이터를 다룰 수 있게 해주는 패키지 (python용 엑셀)
    기존 데이터처리 라이브러리인 numpy 대신 주로 사용
    일반인이 데이터분석을 접하기 쉽게 만들어준 결정적인 라이브러리
    pandas만으로도 충분히 데이터 분석이 가능할 정도로 고수준의 함수들을 내장
    앞으로 진행하는 데이터분석 과정에서 주로 사용하게 될 데이터구조

## **1. pandas 설치**
    
    콘솔창에서 실행 시
    pip install pandas
    
    주피터 노트북으로 실행 시
    !pip install pandas
    
    아나콘다 환경으로 python 환경설정 시 기본적으로 설치가 되어있음

In [1]:
# pandas 설치
# !pip install pandas

In [1]:
# 습관적 불러들이기
import numpy as np
# pandas 로딩
import pandas as pd
# pd라는 닉네임은 많은 파이썬 유저들이 사용하고 있는 닉네임, 분석을 위한 필수는 아니지만 되도록이면 위와 같이 사용을 해줍시다.
pd.options.display.max_columns = 200 
# 불러들이는 데이터에 맞춰 모든 컬럼을 확인 가능하도록 옵션값을 주었습니다.
pd.options.display.max_info_columns =200 
# 그냥 실행 시키시고 지금 이해 못하셔도 좋습니다.

import numpy as np

## **2. DataFrame**
    엑셀에 익숙한 사용자를 위해 제작 된 테이블형태의 데이터 구조
    다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 통계, 시각화 함수를 제공한다.
    
    실제 데이터를 불러들이고 값을 확인 해 보며 기본적인 pandas 사용법을 익혀보도록 하겠습니다.

### 2-1. 데이터 불러오기
pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql을 사용한다.
    
    read_csv()
    read_excel()
    read_sql()

In [2]:
%%time
# DataFrame 의 약자로서 형식적으로 df 변수명을 사용한다.
# pandas패키지의 read_csv() 함수를 사용하여 loan.csv 파일을 불러들여 데이터프레임을 만들고 df 이름의 변수로 저장

# 주피터 노트북 및 코랩 경로 설정 방법
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/강의자료/광운대학교/loan1.csv')

CPU times: user 738 ms, sys: 78.9 ms, total: 817 ms
Wall time: 3.48 s

In [ ]:
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈 설치
# !pip install xlrd
%%time
df = pd.read_excel('loan1.xlsx')

In [ ]:
# 참고! 실습은 하지 않습니다만 쿼리를 사용하여 데이터베이스로부터 데이터프레임을 만드는 것도 가능합니다.
# 데이터베이스로 부터 자료 읽기

# 필요한 모듈 추가 설치 - 각 데이터베이스 별로 다릅니다.
# !pip install pymysql

# sql 모듈 로드하기
# import pymysql
# mysql, mariadb, sqlite, postgresql, ms-sql, oracle, mongodb

# 접속하기
# 접속방법 또한 DB 종류에 따라 다릅니다.
# con = pymysql.connect(host='db서버주소', port=3306, user='id', passwd='pwd', db='dbname')

# query 만들기
# query = 'select * from samples'

# 자료 불러오기
# data = pd.read_sql(query, con=con)

In [6]:
# 데이터프레임 확인
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0,Jul-2007,0.0,34.0,NaN,8.0,0.0,5225,73.6,30.0,w,6442.28,6442.28,4493.810000,4493.81,3557.72,936.09,0.0,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,173110.0,0.0,2.0,0.0,2.0,23.0,12496.0,39.0,0.0,0.0,3949.0,45.0,7100.0,1.0,0.0,0.0,2.0,21639.0,1875.0,73.6,0.0,0.0,125.0,78.0,26.0,23.0,3.0,26.0,NaN,21.0,NaN,0.0,2.0,2.0,4.0,4.0,21.0,4.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,96.4,25.0,0.0,0.0,196130.0,17756.0,7100.0,31992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0,Jun-2002,0.0,39.0,28.0,12.0,3.0,6953,51.9,38.0,w,2266.55,2266.55,1586.770000,1586.77,1233.45,353.32,0.0,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,339028.0,0.0,4.0,0.0,3.0,22.0,76501.0,69.0,1.0,2.0,1628.0,65.0,13400.0,1.0,5.0,1.0,5.0,28252.0,808.0,82.4,0.0,0.0,164.0,186.0,7.0,7.0,2.0,7.0,39.0,7.0,39.0,0.0,4.0,7.0,4.0,10.0,19.0,7.0,17.0,7.0,12.0,0.0,0.0,0.0,1.0,97.3,75.0,0.0,3.0,416685.0,83454.0,4600.0,110595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0,Aug-2002,0.0,44.0,NaN,4.0,0.0,3401,97.2,12.0,w,3291.95,3291.95,2371.050000,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,44.0,1,Individual,NaN,NaN,NaN,0.0,0.0,51673.0,1.0,3.0,1.0,1.0,5.0,48272.0,48.0,0.0,0.0,3401.0,53.0,3500.0,2.0,0.0,3.0,1.0,12918.0,99.0,97.2,0.0,0.0,135.0,184.0,54.0,5.0,0.0,54.0,44.0,5.0,44.0,2.0,1.0,1.0,1.0,4.0,6.0,1.0,6.0,1.0,4.0,0.0,0.0,0.0,1.0,83.3,100.0,0.0,0.0,82176.0,51673.0,3500.0,78676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0,Apr-2003,0.0,74.0,NaN,8.0,0.0,12918,59.5,16.0,w,9090.87,9090.87,6391.530000,6391.53,4909.13,1482.40,0.0,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0.0,74.0,1,Individual,NaN,NaN,NaN,0.0,457.0,29103.0,1.0,1.0,1.0,2.0,4.0,16185.0,95.0,1.0,5.0,10153.0,75.0,21700.0,2.0,6.0,0.0,7.0,3638.0,7265.0,61.6,0.0,0.0,36.0,176.0,7.0,4.0,0.0,7.0,NaN,16.0,74.0,1.0,2.0,4.0,3.0,4.0,4.0,7.0,12.0,4.0,8.0,0.0,0.0,0.0,2.0,93.8,33.3,0.0,0.0,38704.0,29103.0,18900.0,17004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0,Jun-1999,0.0,NaN,NaN,5.0,0.0,4497,91.8,6.0,w,3291.95,3291.95,2371.050000,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,471.0,7202.0,0.0,1.0,0.0,0.0,71.0,2705.0,12.0,0.0,0.0,1483.0,27.0,4900.0,0.0,1.0,0.0,0.0,1440.0,403.0,91.8,0.0,0.0,149.0,222.0,43.0,43.0,0.0,43.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,26841.0,7202.0,4900.0,21941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,NaN,NaN,13000,13000,13000.0,60 months,18.06,330.54,D,D2,Clinical Supervisor,10+ years,RENT,60000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,554xx,MN,37.24,0.0,Jun-2003,1.0,NaN,NaN,25.0,0.0,12046,35.3,44.0,w,10748.94,10748.94,4932.010000,4932.01,2251.06,2680.95,0.0,0.0,0.0,Feb-2019,330.54,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,108816.0,1.0,15.0,2.0,4.0,6.0,96770.0,77.0,2.0,2.0,7281.0,68.0,34100.0,0.0,0.0,4.0,6.0,4534.0,20054.0,37.5,0.0,0.0,170.0,173.0,7.0,6.0,0.0,7.0,NaN,6.0,NaN,0.0,5.0,5.0,8.0,10.0,31.0,10.0,13.0,5.0,25.0,0.0,0.0,0.0,4.0,100.0,25.0,0.0,0.0,160629.0,108816.0,32100.0,126529.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49996,NaN,NaN,12000,12000,12000.0,60 months,13.59,276.68,C,C2,consultant,2 years,RENT,90000.0,Not Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,773xx,TX,6.19,0.0,Sep-2003,1.0,NaN,NaN,12.0,0.0,16142,29.1,25.0,w,0.00,0.00,13886.761900,13886.76,12000.00,1886.76,0.0,0.0,0.0,Feb-2019,10000.07,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,52.0,115385.0,1.0,3.0,1.0,3.0,5.0,99243.0,88.0,0.0,2.0,8961.0,43.0,55400.0,0.0,0.0,1.0,5.0,11539.0,39258.0,29.1,0.0,0.0,130.0,125.0,15.0,5.0,0.0,15.0,NaN,6.0,NaN,0.0,4.0,4.0,7.0,11.0,8.0,8.0,16.0,6.0,12.0,0.0,0.0,0.0,1.0,100.0,14.3,0.0,0.0,151664.0,115385.0,55400.0,96264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49997,NaN,NaN,20000,20000,20000.0,60 months,15.05,476.33,C,C4,Controls Engineer,2 years,MORTGAGE,105000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,458xx,OH,15.17,0.0,Sep-2005,0.0,NaN,NaN,9.0,0.0,4791,51.0,34.0,w,16309.59,16309.59,7128.230000,7128.23,3690.41,3437.82,0.0,0.0,0.0,Feb-2019,476.33,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,2968.0,136467.0,0.0,4.0,0.0,2.0,18.0,45920.0,75.0,0.0,1.0,2276.0,71.0,9400.0,1.0,1.0,0.0,4.0,15163.0,24.0,99.0,0.0,0.0,146.0,141.0,13.0,13.0,2.0,85.0,NaN,19.0,NaN,0.0,1.0,3.0,1.0,2.0,17.0,4.0,15.0,3.0,9.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,159023.0,50711.0,2300.0,61623.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49998,NaN,NaN,7000,7000,7000.0,36 months,7.35,217.27,A,A4,Hair Stylist,< 1 year,RENT,30000.0,Verified,Nov-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,32.64,1.0,Nov-2000,0.0,10.0,NaN,11.0,0.0,6654,15.7,28.0,w,4268.88,4268.88,3256.190000,3256.19,2731.12,525.07,0.0,0.0,0.0,Feb-2019,217.27,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,90000.0,11.93,Verified,0.0,0.0,31450.0,0.0,1.0,0.0,1.0,24.0,24796.0,NaN,0.0,1.0,1508.0,16.0,42500.0,0.0,0.0,0.0,2.0,3145.0,28772.0,8.7,0.0,0.0,188.0,204.0,15.0,15.0,0.0,15.0,NaN,16.0,NaN,0.0,2.0,5.0,4.0,9.0,5.0,10.0,23.0,5.0,11.0,0.0,0.0,0.0,0.0,96.4,0.0,0.0,0.0,77748.0,31450.0,31500.0,35248.0,11338.0,Aug-2014,0.0,0.0,4.0,62.2,0.0,4.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49999,NaN,NaN,6000,6000,6000.0,36 months,13.59,203.88,C,C2,Store manager,1 year,RENT,50000.0,Not Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,060xx,CT,8.19,0.0,Mar-2006,1.0,NaN,NaN,14.0,0.0,6500,38.7,15.0,w,0.00,0.00,6451.428886,6451.43,6000.00,451.43,0.0,0.0,0.0,Jun-2018,5232.68,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,3784.0,11645.0,1.0,2.0,0.0,2.0,19.0,5145.0,98.0,3.0,9.0,4026.0,53.0,16800.0,0.0,0.0,2.0,11.0,832.0,8148.0,39.6,0.0,0.0,139.0,59.0,5.0,5.0,0.0,5.0,NaN,0.0,NaN,0.0,6.0,7.0,7.0,7.0,3.0,12.0,12.0,7.0,14.0,0.0,0.0,0.0,3.0,100.0,14.3,0.0,0.0,22060.0,11645.0,13500.0,5260.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### 2-2. 데이터 저장하기
    불러들인 혹은 작업을 마친 데이터프레임을 다양한 파일형태로 저장이 가능합니다.
    
    to_csv()
    to_excel()
    to_sql()

In [7]:
%%time
df.to_csv('loan1_test.csv')

CPU times: user 4.18 s, sys: 48.1 ms, total: 4.23 s
Wall time: 4.25 s

In [8]:
%%time
# 엑셀은 오래걸립니다~
df.to_excel('loan1_test.xlsx')

CPU times: user 2min 6s, sys: 1.66 s, total: 2min 8s
Wall time: 2min 8s

## **3. 사용 데이터 간략 설명**
    미국 핀테크 회사인 lending club의 대출 데이터베이스
    핀테크의 시초라고 부를 수 있는 회사
    방대한 양의 대출정보를 공개하면서 금융정보분석에도 기여한 공이 큰 데이터
    2007 ~ 2015 년 대출정보 및 개인정보를 담고 있음
    226만건, 145항목 정보를 담고있음
    실습데이터는 이 중 5만건을 추출한 데이터를 사용합니다.

## **4. 데이터 살펴보기**

In [ ]:
# 데이터를 불러들인 후 가장 처음 하는 작업
# 데이터의 구조, 형태 파악하기
# 데이터의 첫 5개 샘플 확인하기
df.head()
# 10개를 확인하려면?

In [ ]:
# 데이터의 마지막 5개 샘플 확인하기
# 데이터가 잘 가져왔는지 확인 할 때 보통 씁니다.
df.tail()

In [ ]:
# 데이터의 갯수를 살펴봅니다
len(df)

In [ ]:
# 데이터의 전반적인 정보를 확인합니다.
df.info()
# dtype 정보에서는 각 컬럼별 데이터 타입을 확인 할 수 있습니다.
# object == str 이라고 생각하셔도 무방합니다.
# verbose, null_counts

In [ ]:
# 데이터의 기초통계량을 확인합니다.
df.describe()

In [ ]:
# numpy 함수로 데이터 shape 확인
np.shape(df)

In [ ]:
# 인덱스
df.index

In [ ]:
# 컬럼
df.columns

데이터셋을 살펴 본 결과 정체를 알 수 없는 많은 컬럼이 있는 걸 확인했고, 

50000개의 샘플이 불러들여진 것을 확인 할 수 있었습니다.

추가로 데이터 중간 중간 비어있는 값도 있는 것을 확인했습니다.

## **5. 데이터접근 (인덱싱, 슬라이싱, 샘플링)**

In [11]:
# 첫 샘플 혹은 레코드(대출건)에 대한 데이터를 살펴보겠습니다.
# 인덱스넘버로 데이터에 접근하는 .iloc[색인]
df.iloc[0]

In [ ]:
# 10번 인덱스 부터 20번 인덱스 샘플 접근
df.iloc[10:20]

In [ ]:
# 첫번째 0, 10, 20 인덱스 샘플 접근
df.iloc[[0, 10, 20]]

In [ ]:
# 컬럼 단위 샘플 접근
df['emp_title']

In [ ]:
# 여러 컬럼 동시 접근
df[['emp_title', 'grade']]

In [ ]:
# row와 columns을 동시에 슬라이싱 하는 속성
# df.loc[인덱스, 컬럼명]
df.loc[10:20, ['emp_title', 'grade']]

기본적인 인덱싱 방법에 추가로 조건에 따른 데이터 샘플링도 가능합니다.

In [ ]:
df[df['emp_title'] == 'ceo']

In [ ]:
# 신용등급 A와 B인 샘플접근
df[(df['grade'] == 'A') | (df['grade'] == 'B')]
# 조건식을 여러개 써야 한다면 조건마다 ()로 감싸주시는 것이 좋습니다.

## **6. 데이터프레임 병합**
    실제 분석업무를 진행하다보면 데이터가 여기저기 분산되어 있을 경우가 더 많습니다.
    조각난 데이터를 분석에 필요한 데이터셋으로 만들기 위해 데이터프레임 병합을 많이 사용합니다.
    한개 이상의 데이터프레임을 병합 할 때 주로 사용하는 함수 2가지를 알아보겠습니다.

### 6-1. 데이터 병합에 사용가능한 key(병합할 기준이 되는 행 or 열)값이 있는경우
    pd.merge(베이스데이터프레임, 병합할데이터프레임)
    
    사용가능한 파라메터
    - how : 'left', 'right', 'inner', 'outer'
    - left_on : key값이 다를 경우 베이스데이터프레임의 key 설정
    - right_on : key값이 다를 경우 병합데이터프레임의 key 설정

In [ ]:
merge_df1 = pd.DataFrame({
    '이름': ['원영', '사쿠라', '유리', '예나', '유진', '나코', '은비', '혜원', '히토미', '채원', '민주', '째욘'],
    '국어': [100, 70, 70, 70, 60, 90, 90, 70, 70, 80, 100, 100],
    '영어': [100, 90, 80, 50, 70, 100, 70, 90, 100, 100, 80, 100]
    }, columns=['이름', '국어', '영어'])

merge_df2 = pd.DataFrame({
    '일어': [80, 100, 100, 90, 70, 50, 100],
    '수학': [90, 70, 100, 80, 70, 80, 90],
    '이름': ['원영', '사쿠라', '나코', '히토미', '예나', '은비', '째욘'],
    }, columns=['일어', '수학', '이름'])

### 6-2. 단순 데이터 연결
    pd.concat([베이스데이터프레임, 병합할데이터프레임], axis=0 or 1)
    
    현재 df에 저장되어있는 데이터에 추가로 5만개의 데이터를 이어붙여보겠습니다.
    df1이라는 변수에 이어붙일 데이터를 불러들여 병합을 진행해보겠습니다.

In [ ]:
# df1 변수에 loan2.csv 파일을 읽어들입니다.
df1 = pd.read_csv('loan2.csv')
# 데이터프레임 확인
# df1

In [ ]:
# df 와 df1 shape 확인
df.shape, df1.shape

In [ ]:
# 데이터프레임 행단위 병합
df = pd.concat([df, df1])

In [ ]:
# 병합 데이터프레임 shape 확인
df.shape

In [ ]:
# 데이터 확인
df.tail()

## **7. 인덱스 조작**
    방금 전 concat으로 병합한 데이터프레임의 이상한 점을 찾으셨나요?
    데이터 자체는 잘 붙였지만 인덱스가 꼬여있습니다.
    인덱스 조작은 데이터분석을 위해 필요한 인덱스를 설정하기 위해 필요합니다.

In [ ]:
# 인덱스 초기화
df = df.reset_index()
# df

In [ ]:
# 기존 컬럼값을 취해 index로 사용
df.set_index('index', inplace=True)

In [ ]:
# 기존 인덱스값을 날리면서 인덱스 초기화
df = df.reset_index(drop=True)

## **8. 컬럼조작**
    인덱스 조작과 마찬가지로 데이터프레임의 컬럼을 변경해야 할 경우도 있습니다.
    데이터프레임은 컬럼단위 샘플링 및 인덱싱, 이름변경이 가능합니다.

In [ ]:
# df 컬럼명 접근
df.columns

In [ ]:
# columns 속성도 인덱싱 및 슬라이싱이 가능합니다.
df.columns[0:26]

In [ ]:
# df의 개인정보에 관한 컬럼만을 색인으로 df를 슬라이싱하고 person_df 변수에 바인딩
person_df = df[df.columns[0:26]]
person_df

### 8-1. 컬럼삭제
    현재 데이터셋에는 개인식별정보가 지워져서 데이터가 존재하지 않습니다. 불필요한 데이터 column을 지우도록 하겠습니다.

In [ ]:
# 지울 column의 데이터값이 모두 NaN인지 확인
person_df['id'].sum(), person_df['member_id'].sum(), person_df['url'].sum(), person_df['desc'].sum()

삭제할 컬럼 모두 데이터가 없는 것을 확인했습니다.

In [ ]:
# 컬럼삭제 drop('컬럼명', axis=1)
# del (df['컬럼명'])
# 실제로는 컬럼 및 행도 삭제 가능합니다. axis=0(기본값)
# inplace=True 파라메터를 사용해서 원본값을 변경가능합니다.
person_df = person_df.drop('id', axis=1)
# person_df = person_df.drop('id', axis=1)

In [ ]:
# inplace 파라메터 사용
person_df.drop('member_id', axis=1, inplace=True)

In [ ]:
# del 메모리 삭제 키워드 사용
del person_df['url']
del person_df['desc']

In [ ]:
person_df

### 8-2. 컬럼명 변경
    경우에 따라서는 데이터셋 제작 중 컬럼명을 변경해야 할 경우도 있습니다.
    국내 수집 데이터 사용 시 컬럼이 한글일 경우 영어로 변경을 많이 합니다.

In [ ]:
# home_ownership을 간략하게 home으로 변경
# 한글도 가능합니다만 권장하지는 않습니다.
person_df.rename(columns={'home_ownership' : 'home'}, inplace=True)

## **9. 데이터 샘플링**
    데이터 병합, 인덱스 조작, 컬럼 선택만으로도 불필요한 정보를 삭제하고 
    새롭게 데이터셋을 만들 수 있는것을 확인했습니다.
    위에 학습한 내용도 데이터 샘플링에 속한 내용이지만 
    지금부터는 데이터셋의 데이터를 살펴보면서 의미있는 데이터를 추려보도록 하겠습니다.
    
    데이터프레임의 기본적인 인덱싱, 슬라이싱, 조건부 샘플링을 조합하면 데이터의 샘플을 확인 하는 과정만으로도 데이터분석이 가능해집니다.

In [ ]:
# 분석에 필요한 데이터프레임을 만들었으니 원본값을 사용하겠습니다. 기존 df에 person_df 값을 덮어 씌웁니다.
df = person_df
df.to_csv('loan_df.csv')

    저는 채권자의 개인정보에 관심이 많습니다. 고객의 직업을 살펴보겠습니다.

In [ ]:
df['emp_title']

In [ ]:
# 값을 카운트 하는 함수 value_counts()
df['emp_title'].value_counts()

In [ ]:
# Owner, owner 같은 직업이지만 대소문자 구분에 따라 다른 값으로 취급되는 문제가 있네요.
# 대소문자 구분을 없애기 위해 모두 소문자로 데이터값을 변경하겠습니다.
# 소문자 변환 전 혹시모를 int, float 데이터가 있을지 모를 상황에 대비해서 모두 문자열로 변경해주겠습니다.
# 형변환 함수 astype(데이터타입)
df['emp_title'] = df['emp_title'].astype(str)

In [ ]:
%%time
# 반복문을 사용한 데이터 변경도 가능
# 하지만 파이썬의 강점을 살리지 못한 코드
for index, title in enumerate(df['emp_title']):
    df['emp_title'][index] = title.lower()

### 배운사람들의 코드, 고오급 python 스킬
    numpy를 학습하면서 브로드캐스팅에 관하여 잠깐 언급했었습니다.
    그렇다만 그 파워풀하다던 브로드캐스팅은 어떻게 사용해야할까요?
    
    기타 언어에서는 지원하지 않는 기능이니만큼 파이썬의 특징을 가장 잘 살리는 코드
    apply 함수를 사용하여 인자로 받는 모든 데이터에 함수를 적용

    apply 함수로 컬럼에 적용시키는 코드 구조
    df['컬럼명'] = df['컬럼명'].apply(lambda x: func(x) if 조건문)

In [ ]:
%%time
# apply() 함수사용 반복이 가능한 데이터구조의 모든 인자에 적용
# lambda 각 인자에 적용할 함수 혹은 연산
df['emp_title'] = df['emp_title'].apply(lambda x: x.lower())

In [ ]:
# 대소문자 구분을 처리한 값 확인
df['emp_title'].value_counts()
# 기존 value_count 값과 차이가 있음을 확인 할 수 있습니다.
# 제공 된 데이터셋이라도 이와 같은 작은 차이가 있을 수 있습니다.
# 데이터를 꼼꼼하게 살펴볼 수록 디테일한 차이를 만들 수 있습니다.

In [ ]:
# owner인 사람들 샘플링
df[df['emp_title'] == 'owner']

In [ ]:
# 샘플링 된 데이터프레임의 단일 컬럼 접근
df[df['emp_title'] == 'owner']['annual_inc']

In [ ]:
# 컬럼 평균값 계산
df[df['emp_title'] == 'ceo']['annual_inc'].mean()

In [ ]:
# 코드 하나 변경으로 간단한 분석 가능
# owner가 아닌 사람들의 평균
df[df['emp_title'] != 'owner']['annual_inc'].mean()

In [ ]:
# 각 직업별 평균연봉이 궁금하다
# 엑셀의 pivol table 과 비슷한 기능
df.groupby('emp_title').mean()

In [ ]:
# 위 테이블에서 연간수입 접근
df.groupby('emp_title').mean()['annual_inc']

In [ ]:
# 데이터정렬
df.groupby('emp_title').mean()['annual_inc'].sort_values(ascending=False)

## **10. 결측치 처리**
    데이터 분석을 위해서는 데이터셋 내에 빈 값이 있는 경우 분석에 방해가 될 수 있는 여지가 많습니다.
    모든 결측치를 없애야 하는 것은 아니지만 되도록이면 결측치를 채우는 방법, 혹은 없애는 방법등으로 결측치를 처리합니다.
    몇가지 예시를 살펴보면서 결측치 처리에 대해 알아봅시다.

In [ ]:
# info() 함수는 결측치에 대한 정보도 보여줍니다.
# 컬럼별 isnull() 함수를 사용해도 무방합니다.
df.info()

    확인결과 emp_title, emp_length, dti에 결측치가 존재합니다. 
    해당 컬럼의 결측치 샘플들을 살펴보고 결측치를 처리해 보겠습니다.

In [ ]:
# 컬럼별 결측치 확인을 위한 isnull()함수 리턴값이 bool 형태로 반환되어 조건부 샘플링이 가능합니다.
df['emp_title'].isnull().head()

In [ ]:
len(df) - df['emp_title'].isnull().sum()

In [ ]:
df[df['emp_title'].isnull()]

In [ ]:
df[df['dti'].isnull()]

    직업과 근속연수에 관한 부분은 데이터를 통한 유추나 계산값을 통해 채워넣을 수 있는 항목은 아닌 것 같습니다.
    다만 dti의 경우 실수로 채워져 있는 부분이니 수업을 위해 평균값 혹은 근사치를 계산하여 채워보도록 하겠습니다.

In [ ]:
# dti 컬럼의 NaN값 index 확인
df[df['dti'].isnull()].index

### 10-1. 결측치 채우기

In [ ]:
# fillna() 함수로 NaN 값을 dti 컬럼의 평균으로 채우기
df['dti'].fillna(df['dti'].mean(), inplace=True) # inplace 파라메터 사용가능
# fillna() 함수의 다양한 채우기 방법 파라메터 확인해보기

### 10-1. 결측치 제거

In [ ]:
df[df['emp_title'].isnull()]

In [ ]:
df.info()

In [ ]:
df.dropna().info()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.info()